@font-face {
    font-family: cyber_punk;
    src: url("fonts/ANDMOREY-Demo.otf");
}
@font-face {
    font-family: cannet_title;
    src: url("fonts/CANNET AGENCY DEMO.otf");
}
@font-face {
    font-family: cyber_game;
    src: url("fonts/Cybergame-Regular Italic.ttf");
}
@font-face {
    font-family: streamer;
    src: url("fonts/Streamer Demo.otf");
}
