/* body{
    background-color: grey;
    color: aliceblue;
} */

header {
    text-align: center;

}

#icons {
    display: flex;
    justify-content: center;
    margin: 7em;
    gap: 8em;

}

#icons button {

    border-style: none;
}

#game {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5em;
}

/* #choices {
    display: flex;
    justify-content: space-between;
    margin: 7em;
} */

#score, #choices {
    display: flex;
    justify-content: center;
    gap: 30em;
    margin: 3em;
}

#results {
    text-align: center;
}

footer {
    text-align: center;
    margin: 5em;
    font-size: large;
}